---
http_interactions:
- request:
    method: post
    uri: https://api.fastly.com/service
    body:
      encoding: US-ASCII
      string: name=fastly-test-service-93038-1418701701-903
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"fastly-test-service-93038-1418701701-903","customer_id":"6icLrTg3IL5DfWKdFzbavk","versions":[{"testing":null,"locked":"0","number":"1","active":null,"backend":0,"service_id":"2yMAUEYYHQLAfgLyULRMfx","service":"2yMAUEYYHQLAfgLyULRMfx","staging":null,"created_at":"2014-12-16T03:48:22","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:48:22","deployed":null,"inherit_service_id":null}],"created_at":"2014-12-16T03:48:22+00:00","comment":"","publish_key":"51b3ecd639e677536a532bbe619bea88764bfb53","updated_at":"2014-12-16T03:48:22+00:00","id":"2yMAUEYYHQLAfgLyULRMfx"}'
  recorded_at: Tue, 16 Dec 2014 03:48:22 GMT
- request:
    method: get
    uri: https://api.fastly.com/service/2yMAUEYYHQLAfgLyULRMfx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"versions":[{"testing":null,"locked":"0","number":"1","active":null,"backend":0,"service_id":"2yMAUEYYHQLAfgLyULRMfx","service":"2yMAUEYYHQLAfgLyULRMfx","staging":null,"created_at":"2014-12-16T03:48:22","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:48:22","deployed":null,"inherit_service_id":null}],"created_at":"2014-12-16T03:48:22+00:00","customer_id":"6icLrTg3IL5DfWKdFzbavk","comment":"","publish_key":"51b3ecd639e677536a532bbe619bea88764bfb53","updated_at":"2014-12-16T03:48:22+00:00","name":"fastly-test-service-93038-1418701701-903","id":"2yMAUEYYHQLAfgLyULRMfx"}'
  recorded_at: Tue, 16 Dec 2014 03:48:23 GMT
- request:
    method: get
    uri: https://api.fastly.com/service/2yMAUEYYHQLAfgLyULRMfx/version/1/settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"general.default_ttl":3600,"version":1,"general.default_host":"","general.default_pci":0,"service_id":"2yMAUEYYHQLAfgLyULRMfx"}'
  recorded_at: Tue, 16 Dec 2014 03:48:23 GMT
[...]
- request:
    method: get
    uri: https://api.fastly.com/service
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"active_version":1,"name":"fastly-test-service-91558-1418699090-615","versions":[{"testing":null,"locked":"0","number":"1","active":null,"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","service":"2Ld1Mxvm3ByX0WqQfWmlRu","staging":null,"created_at":"2014-12-16T03:04:51","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:04:51","deployed":null,"inherit_service_id":null}],"comment":"","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"2Ld1Mxvm3ByX0WqQfWmlRu"},{"active_version":1,"name":"fastly-test-service-91581-1418699145-594","versions":[{"testing":null,"locked":"0","number":"1","active":null,"service_id":"3L0AOrxShPi8bboNgUb5cv","service":"3L0AOrxShPi8bboNgUb5cv","staging":null,"created_at":"2014-12-16T03:05:45","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:05:45","deployed":null,"inherit_service_id":null}],"comment":"","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"3L0AOrxShPi8bboNgUb5cv"},{"active_version":1,"name":"fastly-test-service-93038-1418701701-903","versions":[{"testing":null,"locked":"0","number":"1","active":null,"service_id":"2yMAUEYYHQLAfgLyULRMfx","service":"2yMAUEYYHQLAfgLyULRMfx","staging":null,"created_at":"2014-12-16T03:48:22","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:48:22","deployed":null,"inherit_service_id":null}],"comment":"","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"2yMAUEYYHQLAfgLyULRMfx"}]'
  recorded_at: Tue, 16 Dec 2014 03:48:25 GMT
- request:
    method: get
    uri: https://api.fastly.com/service/search?name=fastly-test-service-91558-1418699090-615
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"fastly-test-service-91558-1418699090-615","versions":[{"testing":null,"locked":"0","number":"1","active":null,"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","service":"2Ld1Mxvm3ByX0WqQfWmlRu","staging":null,"created_at":"2014-12-16T03:04:51","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:04:51","deployed":null,"inherit_service_id":null}],"comment":"","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"2Ld1Mxvm3ByX0WqQfWmlRu"}'
  recorded_at: Tue, 16 Dec 2014 03:48:26 GMT
- request:
    method: get
    uri: https://api.fastly.com/service/search?name=fastly-test-service-91558-1418699090-615&version=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"fastly-test-service-91558-1418699090-615","versions":[{"testing":null,"logging_syslog":[],"number":"1","backend":[],"vcl":[],"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","director":[],"staging":null,"domain":[],"updated":"2014-12-16
        03:04:51","gzip":[],"request_settings":[],"inherit_service_id":null,"deployed":null,"response_object":[],"locked":"0","ssl":[],"match":[],"wordpress":[],"active":null,"origin":[],"deleted":"0000-00-00
        00:00:00","healthcheck":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0},"created":"2014-12-16
        03:04:51","cache_settings":[],"comment":"","header":[],"condition":[]}],"comment":"","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"2Ld1Mxvm3ByX0WqQfWmlRu"}'
  recorded_at: Tue, 16 Dec 2014 03:48:26 GMT
- request:
    method: post
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version
    body:
      encoding: US-ASCII
      string: service_id=2Ld1Mxvm3ByX0WqQfWmlRu
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","number":2}'
  recorded_at: Tue, 16 Dec 2014 03:48:27 GMT
- request:
    method: put
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/2/clone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"testing":false,"locked":false,"number":3,"active":false,"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","staging":false,"created_at":"2014-12-16T03:48:27+00:00","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:48:27+00:00","deployed":false,"inherit_service_id":null}'
  recorded_at: Tue, 16 Dec 2014 03:48:27 GMT
- request:
    method: post
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/backend
    body:
      encoding: US-ASCII
      string: service_id=2Ld1Mxvm3ByX0WqQfWmlRu&version=3&hostname=localhost&name=fastly-test-backend-93038-1418701707-805
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - 400 Bad Request
      Content-Type:
      - text/json
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"An error occurred while connecting to the fastly API, please
        try your request again.","detail":"''localhost'' is not a valid hostname"}'
  recorded_at: Tue, 16 Dec 2014 03:48:28 GMT
- request:
    method: post
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/backend
    body:
      encoding: US-ASCII
      string: service_id=2Ld1Mxvm3ByX0WqQfWmlRu&version=3&address=74.125.224.146&name=fastly-test-backend-93038-1418701707-805
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","version":3,"address":"74.125.224.146","name":"fastly-test-backend-93038-1418701707-805","ssl_ca_cert":null,"auto_loadbalance":false,"shield":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"request_condition":"","weight":100,"client_cert":null,"ssl_hostname":null,"ipv6":null,"connect_timeout":1000,"ipv4":"74.125.224.146","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}'
  recorded_at: Tue, 16 Dec 2014 03:48:29 GMT
- request:
    method: get
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"testing":null,"locked":false,"number":3,"active":null,"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","staging":null,"created_at":"2014-12-16T03:48:27+00:00","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:48:27+00:00","deployed":null,"inherit_service_id":null}'
  recorded_at: Tue, 16 Dec 2014 03:48:29 GMT
- request:
    method: put
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/backend/fastly-test-backend-93038-1418701707-805
    body:
      encoding: UTF-8
      string: address=thegestalt.org&name=fastly-test-backend-93038-1418701707-805&auto_loadbalance=false&error_threshold=0&first_byte_timeout=15000&request_condition=&weight=100&connect_timeout=1000&ipv4=74.125.224.146&port=9092&max_conn=200&use_ssl=false&comment=&between_bytes_timeout=10000
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ssl_ca_cert":null,"auto_loadbalance":false,"shield":null,"ssl_client_cert":null,"hostname":null,"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","error_threshold":0,"request_condition":"","first_byte_timeout":15000,"weight":100,"client_cert":null,"address":"thegestalt.org","ssl_hostname":null,"ipv6":null,"ipv4":"74.125.224.146","connect_timeout":1000,"version":3,"name":"fastly-test-backend-93038-1418701707-805","healthcheck":null,"port":9092,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}'
  recorded_at: Tue, 16 Dec 2014 03:48:29 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/domain
    body:
      encoding: US-ASCII
      string: service_id=2Ld1Mxvm3ByX0WqQfWmlRu&version=3&name=fastly-test-domain-93038-1418701709-963-example.com
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","version":3,"name":"fastly-test-domain-93038-1418701709-963-example.com","comment":""}'
  recorded_at: Tue, 16 Dec 2014 03:48:32 GMT
- request:
    method: get
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"versions":[{"testing":null,"locked":"0","number":"1","active":null,"backend":0,"service_id":"2Ld1Mx[...]
[...]
- request:
    method: put
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/domain/fastly-test-domain-93038-1418701709-963-example.com
    body:
      encoding: UTF-8
      string: name=fastly-test-domain-93038-1418701709-963-example.com&comment=Flibbety+gibbet
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"comment":"Flibbety gibbet","version":3,"name":"fastly-test-domain-93038-1418701709-963-example.com","service_id":"2Ld1Mxvm3ByX0WqQfWmlRu"}'
  recorded_at: Tue, 16 Dec 2014 03:48:34 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/director
    body:
      encoding: US-ASCII
      string: service_id=2Ld1Mxvm3ByX0WqQfWmlRu&version=3&name=fastly-test-director-93038-1418701714-769
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","version":3,"name":"fastly-test-director-93038-1418701714-769","retries":5,"shield":null,"deleted_at":null,"capacity":100,"created_at":"2014-12-16T03:48:35+00:00","backends":[],"comment":"","type":1,"updated_at":"2014-12-16T03:48:35+00:00","quorum":75}'
  recorded_at: Tue, 16 Dec 2014 03:48:35 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/director/fastly-test-director-93038-1418701714-769/backend/fastly-test-backend-93038-1418701707-805
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","version":3,"director_name":"fastly-test-director-93038-1418701714-769","backend_name":"fastly-test-backend-93038-1418701707-805","created_at":"2014-12-16T03:48:36+00:00","deleted_at":null,"updated_at":"2014-12-16T03:48:36+00:00"}'
  recorded_at: Tue, 16 Dec 2014 03:48:36 GMT
- request:
    method: post
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/origin
    body:
      encoding: US-ASCII
      string: service_id=2Ld1Mxvm3ByX0WqQfWmlRu&version=3&name=fastly-test-origin-93038-1418701716-488
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","version":3,"name":"fastly-test-origin-93038-1418701716-488","comment":""}'
  recorded_at: Tue, 16 Dec 2014 03:48:36 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/condition
    body:
      encoding: US-ASCII
      string: service_id=2Ld1Mxvm3ByX0WqQfWmlRu&version=3&name=fastly-test-condition-93038-1418701716-164&statement=req.url+%7E+%22%5E%2Ffoo%22&type=REQUEST
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","version":"3","name":"fastly-test-condition-93038-1418701716-164","statement":"req.url
        ~ \"^/foo\"","type":"REQUEST","priority":0,"comment":""}'
  recorded_at: Tue, 16 Dec 2014 03:48:37 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/cache_settings
    body:
      encoding: US-ASCII
      string: service_id=2Ld1Mxvm3ByX0WqQfWmlRu&version=3&name=fastly-cache-setting-93038-1418701717-955&ttl=3600&stale_ttl=10001&cache_condition=cache-fastly-test-condition-93038-1418701716-164
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","version":"3","name":"fastly-cache-setting-93038-1418701717-955","ttl":"3600","stale_ttl":"10001","cache_condition":"cache-fastly-test-condition-93038-1418701716-164","action":null}'
  recorded_at: Tue, 16 Dec 2014 03:48:37 GMT
- request:
    method: post
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/gzip
    body:
      encoding: US-ASCII
      string: service_id=2Ld1Mxvm3ByX0WqQfWmlRu&version=3&name=fastly-test-gzip-93038-1418701717-335&extensions=js+css+html&content_types=text%2Fhtml
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","version":"3","name":"fastly-test-gzip-93038-1418701717-335","extensions":"js
        css html","content_types":"text/html","cache_condition":""}'
  recorded_at: Tue, 16 Dec 2014 03:48:37 GMT
- request:
    method: post
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/response_object
    body:
      encoding: US-ASCII
      string: service_id=2Ld1Mxvm3ByX0WqQfWmlRu&version=3&name=fastly-test-response-obj-93038-1418701717-631&status=418&response=I%27m+a+teapot&content_type=text%2Fplain&content=short+and+stout
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","version":"3","name":"fastly-test-response-obj-93038-1418701717-631","status":"418","response":"I''m
        a teapot","content_type":"text/plain","content":"short and stout","cache_condition":"","request_condition":""}'
  recorded_at: Tue, 16 Dec 2014 03:48:38 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/header
    body:
      encoding: US-ASCII
      string: service_id=2Ld1Mxvm3ByX0WqQfWmlRu&version=3&name=fastly-header-test-93038-1418701718-303&response_condition=fastly-response-condition-93038-1418701718-364&ignore_if_set=1&type=response&dst=http.Cache-Control&src=%22max-age%3D301%22&priority=10&action=set
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","version":"3","name":"fastly-header-test-93038-1418701718-303","response_condition":"fastly-response-condition-93038-1418701718-364","ignore_if_set":"1","type":"response","dst":"http.Cache-Control","src":"\"max-age=301\"","priority":"10","action":"set","request_condition":null,"substitution":"","cache_condition":null,"regex":""}'
  recorded_at: Tue, 16 Dec 2014 03:48:38 GMT
- request:
    method: put
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/activate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"testing":null,"locked":true,"number":3,"active":true,"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","staging":null,"created_at":"2014-12-16T03:48:27+00:00","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:48:27+00:00","deployed":null,"inherit_service_id":null,"msg":null}'
  recorded_at: Tue, 16 Dec 2014 03:48:39 GMT
- request:
    method: put
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/deactivate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"testing":null,"locked":true,"number":3,"active":null,"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","staging":null,"created_at":"2014-12-16T03:48:27+00:00","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:48:39+00:00","deployed":null,"inherit_service_id":null}'
  recorded_at: Tue, 16 Dec 2014 03:48:39 GMT
[...]
- request:
    method: get
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/generated_vcl?no_content=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"version":3,"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","main":false,"name":"43a0c26e5d52f351a48715a0f772e08c"}'
  recorded_at: Tue, 16 Dec 2014 03:48:42 GMT
- request:
    method: get
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/generated_vcl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"version":3,"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","main":false,"name":"43a0c[...]
- request:
    method: get
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok"}'
  recorded_at: Tue, 16 Dec 2014 03:48:42 GMT
[...]
- request:
    method: get
    uri: https://api.fastly.com/service/2Ld1Mxvm3ByX0WqQfWmlRu/version/3/backend/fastly-test-backend-94260-1418703322-967
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - 400 Bad Request
      Content-Type:
      - text/json
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"An error occurred while connecting to the fastly API, please
        try your request again.","detail":"Couldn''t find ''{ service => 2Ld1Mxvm3ByX0WqQfWmlRu,
        version => 3, name => fastly-test-backend-94260-1418703322-967, deleted =>
        0000-00-00 00:00:00 }''"}'
  recorded_at: Tue, 16 Dec 2014 04:15:23 GMT
recorded_with: VCR 2.9.3
