---
http_interactions:
- request:
    method: get
    uri: https://api.fastly.com/current_customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"billing_contact_id":null,"billing_ref":null,"created_at":"2014-12-16T02:47:56+00:00","id":"6icLrTg3IL5DfWKdFzbavk","name":"TheCompany","owner_id":"6jNybSnuR05QAS66Hgct9w","phone_number":"5555555555","postal_address":null,"pricing_plan":"developer","updated_at":"2014-12-16T02:47:56+00:00","can_upload_vcl":null,"has_config_panel":"1","can_configure_wordpress":null,"can_stream_syslog":true,"can_edit_matches":null,"can_reset_passwords":true,"readonly":null,"stripe_account":null,"has_historical_stats":true,"has_streaming":false,"has_improved_logging":true,"ip_whitelist":"0.0.0.0/0","can_read_public_ip_list":false,"has_openstack_logging":false,"has_improved_ssl_config":false,"has_improved_security":true,"has_improved_events":false,"has_pci":false}'
  recorded_at: Tue, 16 Dec 2014 03:23:27 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/login
    body:
      encoding: US-ASCII
      string: user=user@example.com&password=secret
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"created_at":"2014-12-16T02:47:56+00:00","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"6jNybSnuR05QAS66Hgct9w","locked":false,"login":"user@example.com","name":"Jonathan
        Julian","require_new_password":false,"role":"superuser","two_factor_auth_enabled":false,"updated_at":"2014-12-16T02:48:11+00:00","email_hash":"6bec815bab92b2b68d2eff1000b5e733"},"customer":{"billing_contact_id":null,"billing_ref":null,"created_at":"2014-12-16T02:47:56+00:00","id":"6icLrTg3IL5DfWKdFzbavk","name":"TheCompany","owner_id":"6jNybSnuR05QAS66Hgct9w","phone_number":"5555555555","postal_address":null,"pricing_plan":"developer","updated_at":"2014-12-16T02:47:56+00:00","can_upload_vcl":null,"has_config_panel":"1","raw_api_key":"c299b6287f3ae7b8560aca7af6ee3df3","can_configure_wordpress":null,"can_stream_syslog":true,"can_edit_matches":null,"can_reset_passwords":true,"readonly":null,"stripe_account":null,"has_historical_stats":true,"has_streaming":false,"has_improved_logging":true,"ip_whitelist":"0.0.0.0/0","can_read_public_ip_list":false,"has_openstack_logging":false,"has_improved_ssl_config":false,"has_improved_security":true,"has_improved_events":false,"has_pci":false},"needs_two_factor_auth":true}'
  recorded_at: Tue, 16 Dec 2014 03:28:27 GMT
[...]
- request:
    method: get
    uri: https://api.fastly.com/current_user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2014-12-16T02:47:56+00:00","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"6jNybSnuR05QAS66Hgct9w","locked":false,"login":"user@example.com","name":"Jonathan
        Julian","require_new_password":false,"role":"superuser","two_factor_auth_enabled":false,"updated_at":"2014-12-16T02:48:11+00:00","email_hash":"6bec815bab92b2b68d2eff1000b5e733"}'
  recorded_at: Tue, 16 Dec 2014 03:29:10 GMT
- request:
    method: post
    uri: https://api.fastly.com/service
    body:
      encoding: US-ASCII
      string: name=fastly-test-service-92430-1418700655-439
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"fastly-test-service-92430-1418700655-439","customer_id":"6icLrTg3IL5DfWKdFzbavk","versions":[{"testing":null,"locked":"0","number":"1","active":null,"backend":0,"service_id":"7MuIQDHuVy7kRN6AfkfJMX","service":"7MuIQDHuVy7kRN6AfkfJMX","staging":null,"created_at":"2014-12-16T03:30:56","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:30:56","deployed":null,"inherit_service_id":null}],"created_at":"2014-12-16T03:30:56+00:00","comment":"","publish_key":"faedefe554ab508ceba6e85809ea456172d361a3","updated_at":"2014-12-16T03:30:56+00:00","id":"7MuIQDHuVy7kRN6AfkfJMX"}'
  recorded_at: Tue, 16 Dec 2014 03:30:56 GMT
- request:
    method: delete
    uri: https://api.fastly.com/service/7MuIQDHuVy7kRN6AfkfJMX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok"}'
  recorded_at: Tue, 16 Dec 2014 03:30:57 GMT
[...]
- request:
    method: get
    uri: https://api.fastly.com/billing/service/7MuIQDHuVy7kRN6AfkfJMX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"regions":{"europe":{"bandwidth":{"total":0.0,"tiers":[{"name":"first
        10TB","units":0.0,"price":0.12,"total":0.0}]},"requests":{"total":0.0,"tiers":[{"name":"per
        10,000 HTTP requests","units":0.0,"price":0.009,"total":0.0},{"name":"per
        10,000 HTTPS requests","units":0.0,"price":0.012,"total":0.0}]},"cost":0.0},"usa":{"bandwidth":{"total":0.0,"tiers":[{"name":"first
        10TB","units":0.0,"price":0.12,"total":0.0}]},"requests":{"total":0.0,"tiers":[{"name":"per
        10,000 HTTP requests","units":0.0,"price":0.0075,"total":0.0},{"name":"per
        10,000 HTTPS requests","units":0.0,"price":0.01,"total":0.0}]},"cost":0.0},"australia":{"bandwidth":{"total":0.0,"tiers":[{"name":"first
        10TB","units":0.0,"price":0.19,"total":0.0}]},"requests":{"total":0.0,"tiers":[{"name":"per
        10,000 HTTP requests","units":0.0,"price":0.009,"total":0.0},{"name":"per
        10,000 HTTPS requests","units":0.0,"price":0.0125,"total":0.0}]},"cost":0.0},"asia":{"bandwidth":{"total":0.0,"tiers":[{"name":"first
        10TB","units":0.0,"price":0.19,"total":0.0}]},"requests":{"total":0.0,"tiers":[{"name":"per
        10,000 HTTP requests","units":0.0,"price":0.009,"total":0.0},{"name":"per
        10,000 HTTPS requests","units":0.0,"price":0.012,"total":0.0}]},"cost":0.0},"latam":{"bandwidth":{"total":0.0,"tiers":[{"name":"first
        10TB","units":0.0,"price":0.0,"total":0.0}]},"requests":{"total":0.0,"tiers":[{"name":"per
        10,000 HTTP requests","units":0.0,"price":0.0,"total":0.0},{"name":"per 10,000
        HTTPS requests","units":0.0,"price":0.0,"total":0.0}]},"cost":0.0}},"services":{"7MuIQDHuVy7kRN6AfkfJMX":{"name":"fastly-test-service-92430-1418700655-439","europe":{"bandwidth":0.0,"requests":0.0,"ssl_requests":0.0},"usa":{"bandwidth":0.0,"requests":0.0,"ssl_requests":0.0},"australia":{"bandwidth":0.0,"requests":0.0,"ssl_requests":0.0},"asia":{"bandwidth":0.0,"requests":0.0,"ssl_requests":0.0},"latam":{"bandwidth":0.0,"requests":0.0,"ssl_requests":0.0}}},"start_time":"2014-12-01T00:00:00Z","end_time":"2014-12-31T23:59:59Z","service_id":"7MuIQDHuVy7kRN6AfkfJMX","service_name":"fastly-test-service-92430-1418700655-439","cost":0.0,"bandwidth_cost":0.0,"bandwidth":0.0,"requests":0.0,"requests_cost":0.0}'
  recorded_at: Tue, 16 Dec 2014 03:33:19 GMT
- request:
    method: get
    uri: https://api.fastly.com/billing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"regions":{"europe":{"bandwidth":{"total":0.0,"tiers":[{"name":"first
        10TB","units":0.0,"price":0.12,"total":0.0}]}[...]
- request:
    method: get
    uri: https://api.fastly.com/billing/year/2014/month/12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"regions":{"europe":{"bandwidth":{"total":0.0,"tiers":[{"name":"first
        10TB","units":0.0,"price":[...]
- request:
    method: get
    uri: https://api.fastly.com/service/7MuIQDHuVy7kRN6AfkfJMX/stats/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - 400 Bad Request
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"Unbounded requests for summary stats are not allowed"}'
  recorded_at: Tue, 16 Dec 2014 03:33:37 GMT
- request:
    method: get
    uri: https://api.fastly.com/service/7MuIQDHuVy7kRN6AfkfJMX/stats/all?month=10&year=2011
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"stats":{}}'
  recorded_at: Tue, 16 Dec 2014 03:33:38 GMT
- request:
    method: get
    uri: https://api.fastly.com/service/7MuIQDHuVy7kRN6AfkfJMX/version/1/settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"general.default_ttl":3600,"version":1,"general.default_host":"","general.default_pci":0,"service_id":"7MuIQDHuVy7kRN6AfkfJMX"}'
  recorded_at: Tue, 16 Dec 2014 03:33:38 GMT
[...]
- request:
    method: get
    uri: https://api.fastly.com/service
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"active_version":1,"name":"fastly-test-service-91509-1418698915-843","versions":[{"testing":null,"locked":"0","number":"1","active":null,"service_id":"6y2BL7TFPAprLYZMN9GNO2","service":"6y2BL7TFPAprLYZMN9GNO2","staging":null,"created_at":"2014-12-16T03:01:56","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:01:56","deployed":null,"inherit_service_id":null}],"comment":"","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"6y2BL7TFPAprLYZMN9GNO2"},{"active_version":1,"name":"fastly-test-service-91558-1418699090-615","versions":[{"testing":null,"locked":"0","number":"1","active":null,"service_id":"2Ld1Mxvm3ByX0WqQfWmlRu","service":"2Ld1Mxvm3ByX0WqQfWmlRu","staging":null,"created_at":"2014-12-16T03:04:51","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:04:51","deployed":null,"inherit_service_id":null}],"comment":"","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"2Ld1Mxvm3ByX0WqQfWmlRu"},{"active_version":1,"name":"fastly-test-service-91581-1418699145-594","versions":[{"testing":null,"locked":"0","number":"1","active":null,"service_id":"3L0AOrxShPi8bboNgUb5cv","service":"3L0AOrxShPi8bboNgUb5cv","staging":null,"created_at":"2014-12-16T03:05:45","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:05:45","deployed":null,"inherit_service_id":null}],"comment":"","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"3L0AOrxShPi8bboNgUb5cv"}]'
  recorded_at: Tue, 16 Dec 2014 03:33:40 GMT
- request:
    method: get
    uri: https://api.fastly.com/service/search?name=fastly-test-service-92586-1418700841-855
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - 400 Bad Request
      Content-Type:
      - text/json
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"An error occurred while connecting to the fastly API, please
        try your request again.","detail":"Cannot load service ''6icLrTg3IL5DfWKdFzbavk''-''fastly-test-service-92586-1418700841-855''"}'
  recorded_at: Tue, 16 Dec 2014 03:34:02 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/user
    body:
      encoding: US-ASCII
      string: login=fastly-ruby-test-92698-1418701039-282-new%40example.com&name=New+User
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2014-12-16T03:37:20+00:00","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"5xBHhA0wzRg51NxGf6Mx8e","locked":false,"login":"fastly-ruby-test-92698-1418701039-282-new@example.com","name":"New
        User","require_new_password":false,"role":"user","two_factor_auth_enabled":false,"updated_at":"2014-12-16T03:37:20+00:00","email_hash":"95cc279cfd937c5bf2bbb1a762b3ddf3"}'
  recorded_at: Tue, 16 Dec 2014 03:37:20 GMT
- request:
    method: put
    uri: https://api.fastly.com/user/5xBHhA0wzRg51NxGf6Mx8e
    body:
      encoding: UTF-8
      string: customer_id=6icLrTg3IL5DfWKdFzbavk&id=5xBHhA0wzRg51NxGf6Mx8e&login=fastly-ruby-test-92698-1418701039-282-new%40example.com&name=New+Name&role=user
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2014-12-16T03:37:20+00:00","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"5xBHhA0wzRg51NxGf6Mx8e","locked":false,"login":"fastly-ruby-test-92698-1418701039-282-new@example.com","name":"New
        Name","require_new_password":false,"role":"user","two_factor_auth_enabled":false,"updated_at":"2014-12-16T03:37:21+00:00","email_hash":"95cc279cfd937c5bf2bbb1a762b3ddf3"}'
  recorded_at: Tue, 16 Dec 2014 03:37:21 GMT
[...]
- request:
    method: get
    uri: https://api.fastly.com/user/6jNybSnuR05QAS66Hgct9w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2014-12-16T02:47:56+00:00","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"6jNybSnuR05QAS66Hgct9w","locked":false,"login":"user@example.com","name":"Jonathan
        Julian","require_new_password":false,"role":"superuser","two_factor_auth_enabled":false,"updated_at":"2014-12-16T02:48:11+00:00","email_hash":"6bec815bab92b2b68d2eff1000b5e733"}'
  recorded_at: Tue, 16 Dec 2014 03:37:21 GMT
- request:
    method: get
    uri: https://api.fastly.com/customer/6icLrTg3IL5DfWKdFzbavk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"billing_contact_id":null,"billing_ref":null,"created_at":"2014-12-16T02:47:56+00:00","id":"6icLrTg3IL5DfWKdFzbavk","name":"TheCompany","owner_id":"6jNybSnuR05QAS66Hgct9w","phone_number":"5555555555","postal_address":null,"pricing_plan":"developer","updated_at":"2014-12-16T02:47:56+00:00","can_upload_vcl":null,"has_config_panel":"1","raw_api_key":"c299b6287f3ae7b8560aca7af6ee3df3","can_configure_wordpress":null,"can_stream_syslog":true,"can_edit_matches":null,"can_reset_passwords":true,"readonly":null,"stripe_account":null,"has_historical_stats":true,"has_streaming":false,"has_improved_logging":true,"ip_whitelist":"0.0.0.0/0","can_read_public_ip_list":false,"has_openstack_logging":false,"has_improved_ssl_config":false,"has_improved_security":true,"has_improved_events":false,"has_pci":false}'
  recorded_at: Tue, 16 Dec 2014 03:37:22 GMT
[...]
- request:
    method: get
    uri: https://api.fastly.com/service/search?name=fastly-test-service-91509-1418698915-843&version=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"fastly-test-service-91509-1418698915-843","versions":[{"testing":null,"logging_syslog":[],"number":"1","backend":[],"vcl":[],"service_id":"6y2BL7TFPAprLYZMN9GNO2","director":[],"staging":null,"domain":[],"updated":"2014-12-16
        03:01:56","gzip":[],"request_settings":[],"inherit_service_id":null,"deployed":null,"response_object":[],"locked":"0","ssl":[],"match":[],"wordpress":[],"active":null,"origin":[],"deleted":"0000-00-00
        00:00:00","healthcheck":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0},"created":"2014-12-16
        03:01:56","cache_settings":[],"comment":"","header":[],"condition":[]}],"comment":"","customer_id":"6icLrTg3IL5DfWKdFzbavk","id":"6y2BL7TFPAprLYZMN9GNO2"}'
  recorded_at: Tue, 16 Dec 2014 03:39:33 GMT
- request:
    method: post
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version
    body:
      encoding: US-ASCII
      string: service_id=6y2BL7TFPAprLYZMN9GNO2
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"6y2BL7TFPAprLYZMN9GNO2","number":2}'
  recorded_at: Tue, 16 Dec 2014 03:39:34 GMT
- request:
    method: put
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version/2/clone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"testing":false,"locked":false,"number":3,"active":false,"service_id":"6y2BL7TFPAprLYZMN9GNO2","staging":false,"created_at":"2014-12-16T03:39:33+00:00","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:39:33+00:00","deployed":false,"inherit_service_id":null}'
  recorded_at: Tue, 16 Dec 2014 03:39:34 GMT
- request:
    method: post
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version/3/backend
    body:
      encoding: US-ASCII
      string: service_id=6y2BL7TFPAprLYZMN9GNO2&version=3&hostname=localhost&name=fastly-test-backend-92783-1418701174-93
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - 400 Bad Request
      Content-Type:
      - text/json
    body:
      encoding: ASCII-8BIT
      string: '{"msg":"An error occurred while connecting to the fastly API, please
        try your request again.","detail":"''localhost'' is not a valid hostname"}'
  recorded_at: Tue, 16 Dec 2014 03:39:34 GMT
- request:
    method: post
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version/3/backend
    body:
      encoding: US-ASCII
      string: service_id=6y2BL7TFPAprLYZMN9GNO2&version=3&address=74.125.224.146&name=fastly-test-backend-92783-1418701174-93
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"6y2BL7TFPAprLYZMN9GNO2","version":3,"address":"74.125.224.146","name":"fastly-test-backend-92783-1418701174-93","ssl_ca_cert":null,"auto_loadbalance":false,"shield":null,"ssl_client_cert":null,"hostname":null,"error_threshold":0,"first_byte_timeout":15000,"request_condition":"","weight":100,"client_cert":null,"ssl_hostname":null,"ipv6":null,"connect_timeout":1000,"ipv4":"74.125.224.146","healthcheck":null,"port":80,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}'
  recorded_at: Tue, 16 Dec 2014 03:39:35 GMT
- request:
    method: get
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"testing":null,"locked":false,"number":3,"active":null,"service_id":"6y2BL7TFPAprLYZMN9GNO2","staging":null,"created_at":"2014-12-16T03:39:34+00:00","deleted_at":null,"comment":"","updated_at":"2014-12-16T03:39:34+00:00","deployed":null,"inherit_service_id":null}'
  recorded_at: Tue, 16 Dec 2014 03:39:35 GMT
- request:
    method: put
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version/3/backend/fastly-test-backend-92783-1418701174-93
    body:
      encoding: UTF-8
      string: address=thegestalt.org&name=fastly-test-backend-92783-1418701174-93&auto_loadbalance=false&error_threshold=0&first_byte_timeout=15000&request_condition=&weight=100&connect_timeout=1000&ipv4=74.125.224.146&port=9092&max_conn=200&use_ssl=false&comment=&between_bytes_timeout=10000
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ssl_ca_cert":null,"auto_loadbalance":false,"shield":null,"ssl_client_cert":null,"hostname":null,"service_id":"6y2BL7TFPAprLYZMN9GNO2","error_threshold":0,"first_byte_timeout":15000,"request_condition":"","weight":100,"client_cert":null,"address":"thegestalt.org","ssl_hostname":null,"ipv6":null,"connect_timeout":1000,"ipv4":"74.125.224.146","version":3,"name":"fastly-test-backend-92783-1418701174-93","healthcheck":null,"port":9092,"max_conn":200,"use_ssl":false,"comment":"","between_bytes_timeout":10000,"ssl_client_key":null}'
  recorded_at: Tue, 16 Dec 2014 03:39:35 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version/3/domain
    body:
      encoding: US-ASCII
      string: service_id=6y2BL7TFPAprLYZMN9GNO2&version=3&name=fastly-test-domain-92783-1418701176-823-example.com
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"6y2BL7TFPAprLYZMN9GNO2","version":3,"name":"fastly-test-domain-92783-1418701176-823-example.com","comment":""}'
  recorded_at: Tue, 16 Dec 2014 03:39:38 GMT
- request:
    method: get
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"versions":[{"testing":null,"locked":"0","number":"1","active":null,"backend":0,"service_id":"6y2BL7[...]
[...]
- request:
    method: put
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version/3/domain/fastly-test-domain-92783-1418701176-823-example.com
    body:
      encoding: UTF-8
      string: name=fastly-test-domain-92783-1418701176-823-example.com&comment=Flibbety+gibbet
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"comment":"Flibbety gibbet","version":3,"name":"fastly-test-domain-92783-1418701176-823-example.com","service_id":"6y2BL7TFPAprLYZMN9GNO2"}'
  recorded_at: Tue, 16 Dec 2014 03:39:39 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version/3/director
    body:
      encoding: US-ASCII
      string: service_id=6y2BL7TFPAprLYZMN9GNO2&version=3&name=fastly-test-director-92783-1418701180-802
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"6y2BL7TFPAprLYZMN9GNO2","version":3,"name":"fastly-test-director-92783-1418701180-802","retries":5,"shield":null,"deleted_at":null,"capacity":100,"created_at":"2014-12-16T03:39:40+00:00","backends":[],"comment":"","updated_at":"2014-12-16T03:39:40+00:00","type":1,"quorum":75}'
  recorded_at: Tue, 16 Dec 2014 03:39:41 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version/3/director/fastly-test-director-92783-1418701180-802/backend/fastly-test-backend-92783-1418701174-93
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"6y2BL7TFPAprLYZMN9GNO2","version":3,"director_name":"fastly-test-director-92783-1418701180-802","backend_name":"fastly-test-backend-92783-1418701174-93","created_at":"2014-12-16T03:39:41+00:00","deleted_at":null,"updated_at":"2014-12-16T03:39:41+00:00"}'
  recorded_at: Tue, 16 Dec 2014 03:39:41 GMT
- request:
    method: post
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version/3/origin
    body:
      encoding: US-ASCII
      string: service_id=6y2BL7TFPAprLYZMN9GNO2&version=3&name=fastly-test-origin-92783-1418701181-331
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"6y2BL7TFPAprLYZMN9GNO2","version":3,"name":"fastly-test-origin-92783-1418701181-331","comment":""}'
  recorded_at: Tue, 16 Dec 2014 03:39:41 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version/3/condition
    body:
      encoding: US-ASCII
      string: service_id=6y2BL7TFPAprLYZMN9GNO2&version=3&name=fastly-test-condition-92783-1418701182-244&statement=req.url+%7E+%22%5E%2Ffoo%22&type=REQUEST
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"service_id":"6y2BL7TFPAprLYZMN9GNO2","version":"3","name":"fastly-test-condition-92783-1418701182-244","statement":"req.url
        ~ \"^/foo\"","type":"REQUEST","priority":0,"comment":""}'
  recorded_at: Tue, 16 Dec 2014 03:39:42 GMT
[...]
- request:
    method: post
    uri: https://api.fastly.com/service/6y2BL7TFPAprLYZMN9GNO2/version/3/cache_settings
    body:
      encoding: US-ASCII
      string: service_id=6y2BL7TFPAprLYZMN9GNO2&version=3&name=fastly-cache-setting-92783-1418701182-146&ttl=3600&stale_ttl=10001&cache_condition=cache-fastly-test-condition-92783-1418701182-244
    headers:
      Content-Accept:
      - application/json
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
[...]
